//media query variables
$mobile-width:  480px;
$tablet-width:  768px;
$desktop-width: 1024px;



//media query for small mobile
@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

//media query for mid-size mobile
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

//media query for all mobile
@mixin tablet-and-mobile {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

//media query for desktop only
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

//main colours
$primaryColour: #333333;
$secondaryColour: #ffffff;
$tertiaryColour: rgb(99, 168, 193);
$quaternaryColour: #ffffff;


/*Typography*/
@mixin base-fontsize {
    font-size: 16px;
    font-weight: 300;
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300');

$keyFont: 'Source Code Pro', monospace;
